.description {
  margin: 0 auto 3rem;
  width: 1224px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.description h2 {
  background-color: #ff6060;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
