.description {
  margin: 0 auto 3rem;
  width: 1224px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
}

.description h2 {
  background-color: #ff6060;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .description {
    max-width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 1024px) {
  .description {
    max-width: 90%;
  }

  .description h2 {
    font-size: 1.1rem;
    padding: 12px 18px;
  }
}
