.error-page {
  color: #ff6060;
  text-align: center;
  h1 {
    font-size: 10rem;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 28px;
    font-weight: 500;
  }
  a {
    color: #ff6060;
    text-decoration: underline;
  }
}
