.logement {
  width: 100%;

  &-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &-header {
    display: flex;
    justify-content: space-between; // host à droite
    align-items: flex-start; // titre + host alignés en haut
    gap: 20px;

    .logement-main {
      flex: 1;

      h1 {
        margin: 0;
        color: #ff6060;
      }

      p {
        margin: 5px 0 0;
        font-size: 18px;
      }

      .tags-rating {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .tags {
          display: flex;
          gap: 10px;

          .tag {
            padding: 5px 10px;
            background-color: #ff6060;
            color: white;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .rating {
          display: flex;
          gap: 5px;
          margin-left: auto;

          .star {
            font-size: 24px;
            color: #e3e3e3;
          }

          .filled {
            color: #ff6060;
          }
        }
      }
    }

    .host {
      display: flex;
      align-items: center;
      text-align: right;
      margin-top: 8px;
      gap: 10px;

      p {
        font-weight: 500;
        font-size: 18px;
        color: #ff6060;
        margin: 0;
        width: 80px;
        line-height: 1.2;
        font-weight: 500;
      }

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

.carousel {
  margin: 10px 0;
}

/* Responsive */
@media (max-width: 768px) {
  .logement-header {
    flex-direction: column;
    align-items: flex-start;

    .tags-rating {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 5px;
    }

    .host {
      margin-top: 10px;
      align-self: flex-start;
    }
  }
}
