.logement {
  width: 100%;

  &-container {
    max-width: 1240px; // largeur Kasa
    margin: 0 auto;
    padding: 0 20px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }

  &-main {
    flex: 1;

    h1 {
      color: #ff6060;
      margin: 10px;
    }

    p {
      font-size: 18px;
    }
  }
}

.carousel {
  margin: 10px 0;
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;
  margin-top: 8px;

  p {
    font-weight: 500;
    font-size: 18px;
    color: #ff6060;
    margin: 0;
    width: 80px;
    line-height: 1.2;
    font-weight: 500;
  }

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
}
