.collapse {
  width: 100%;

  .collapse-header {
    width: 100%;
    background-color: #ff6060;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;

    .arrow {
      transition: transform 0.3s ease;
    }

    .arrow.open {
      transform: rotate(180deg);
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 15px;
    border: none;

    &.open {
      max-height: 500px;
      padding: 10px 15px;
    }

    p {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5;
      color: #000;
    }
  }
}
