.banner {
  position: relative;
  height: clamp(200px, 25vh, 300px);
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 3rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
  }

  h1 {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0 1rem;
    font-size: clamp(24px, 4vw, 48px);
  }
}
