.banner {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: clamp(200px, 25vh, 300px); // hauteur qui s'adapte à l'écran
  border-radius: 2rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
  }

  h1 {
    position: absolute;
    inset: 0; // colle l’élément aux 4 bords
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0 1rem;

    font-size: clamp(24px, 4vw, 48px); // taille responsive
  }
}
