.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

@media (max-width: 480px) {
  .footer-text {
    flex-direction: column; // texte sur 2 lignes en mobile
  }
}
