.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-logo {
  margin-right: auto;
  height: 68px;
}
