* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .page-container {
    padding: 10px;
  }
}
