.apartment-grid-container {
  background-color: #f6f6f6;
  border-radius: 2rem;
  padding: 3rem;
}

.apartment-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.apartment-card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    display: block;
  }

  h3 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    margin: 0;
    color: white;
    font-style: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 1200px) {
  .apartment-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur écrans moyens */
  }
}

@media (max-width: 768px) {
  .apartment-grid {
    grid-template-columns: 1fr; /* 1 colonne sur petits écrans */
  }
  .navbar {
    padding: 1rem; /* moins de padding sur mobile */
  }

  .navbar-logo img {
    height: 40px; /* réduire un peu le logo sur mobile */
  }

  .navbar-links > div {
    margin-left: 1rem; /* réduire l’espace entre les liens */
  }
}
